modules = ["nodejs-24"]

[[artifacts]]
id = "artifacts/api-server"

[[artifacts]]
id = "artifacts/mockup-sandbox"

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[userenv]

[userenv.shared]
GOOGLE_CLIENT_ID = "315081352824-si7lehcb4tqic9m96c9mavsmuo479gds.apps.googleusercontent.com"
GOOGLE_REDIRECT_URI = "https://5f65a511-e38b-4d5e-97da-62a89a74cdf4-00-3svcbtnyuw36y.picard.replit.dev/api/auth/google/callback"
